# Ignore everything
*

# Keep the .gitignore itself
!.gitignore

# Keep the README (common filename is README.md)
!README.md

# Keep the project folder and the specific C# file(s).
!ThreadingProject/Program.cs

# End